<div>
    <div>
      <form name="titleForm">
        <div class = 'input-group'>
          <span class ='input-group-addon'>
            <label for="" style ='display:block;text-align:center;'><h1>Question:</h1></label>
          </sapn>
          <edit-area class="form-group  has-feedback" options = 'QuestionOptions' content = "rootQuiz.quizBody.title" />
        </div>
        <!--<textarea ckeditor="QuestionOptions"  ng-model = rootQuiz.quizBody.title placeholder="Add your quiz question" required></textarea>-->
      </form>
    </div>
    <div class ="text-right">
      <form name="typeSelectForm2"  class="form-inline" title= "Choose the type of question" >
        <label for=""><h4>Choose the question type:</h4></label>
        <select name="mySelect"
          ng-options="option.name for option in data.availableOptions track by option.name"
          ng-model="data.selectedOption"
          ng-change="createQuizModel(data.selectedOption)" class="form-control"
          >
          </select>
      </form>
    </div>
    <!--{{data.selectedOption}}-->
    <form name="quizForm">
        <label for="" style ='display:block;text-align:center;'><h3>Edit my choices:</h3></label>
        <div ng-repeat = "option in rootQuiz.quizBody.availableOptions" class = 'input-group'>
          <span class = 'input-group-addon'>
            <label for="{{rootQuiz.id+option.id}}" style ='text-align:center;display:block;'>
              <span ng-class="{'glyphicon glyphicon-ok': option.isRightAnswer,'glyphicon glyphicon-remove': !option.isRightAnswer}"
              aria-hidden="true"/>
            </label>
          </span>
          <edit-area class="form-group  has-feedback" options = 'answerOptions' content = "option.value"></edit-area>
            <input
                  id = '{{rootQuiz.id+option.id}}'
                  type="checkbox"
                  ng-model="option.isRightAnswer"
                  ng-true-value="1"
                  ng-false-value="0"
                  ng-change="changeSelection(option)"
                  style='display: none;'
                  />
          <!--<div ng-controller= 'ckeditorCtrl' >
            <textarea ckeditor="options"  ng-model= "option.value" placeholder="content here"  ready="onReady()" required></textarea>
          <div>-->
        </div>
    </form>
    <div class ="text-right" style ='display:block;text-align:center;'>
      <label>Add tags for searching</label>
      <learning-tag  tags='rootQuiz.tag'></learning-tag>
    </div>

  </div>
